{% extends "app_agenda/base.html" %}

{% load static %}

{% block articulos_busqueda %}

<br>
<br>
<section class="page-section portfolio">
    <div class="container">

        <!-- Clientes Section Heading-->
        <h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">Clientes</h2>

        <!-- Icon Divider-->
        <div class="divider-custom">
            <div class="divider-custom-line"></div>
            <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
            <div class="divider-custom-line"></div>
        
    </div>
   

    <br>

    <form action="{% url 'articulo-buscado' %}" method="GET">
        {% csrf_token %}
        <span>ID del articulo:

        <input type="number" name="id_articulo">
    </span>
        <input type="submit" value="Buscar articulo">

    </form>


</section>

<br>
<br>
<h5><a href="{% url 'inicio' %}">Volver al inicio</a></h5>


{% endblock articulos_busqueda %}