{% extends "app_agenda/base.html" %}

{% load static %}

{% block clientes %}

<br>
<br>
<section class="page-section portfolio">
    <div class="container">

        <!-- Clientes Section Heading-->
        <h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">Clientes</h2>

        <!-- Icon Divider-->
        <div class="divider-custom">
            <div class="divider-custom-line"></div>
            <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
            <div class="divider-custom-line"></div>
        
    </div>
    <br>
    <br>

    <h5> <a href="{% url 'cliente-formulario' %}">Agregar nuevo cliente</a> </h5>
    <br>
    <br>
    <h5> <a href="{% url 'cliente-buscar' %}">Buscar clientes</a> </h5>
    <br>

    <br>

    <h1>Clientes agregados:</h1>
    <br>

    {% if clientes %}
    <ul>
        {% for x in clientes %}
            <li><b>Nombre:</b> {{x.nombre}}   -   <b>Apellido:</b> {{x.apellido}}   -   <b>Mail:</b> {{x.mail}}   -   <b>Fecha de nacimiento:</b> {{x.fecha_nacimiento}}</li>
            <br>
        {% endfor %}
    </ul>
    {% else %}

    <h4>No hay clientes que tengan ese nombre.</h4>
    {% endif %}
    

</section>

{% endblock clientes %}